<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<header>
    <nav>
        <!-- Your navigation menu goes here -->
    </nav>
</header>

<main>
    <!-- Your main content goes here -->
    <div>
        Welcome to Roshka Portal :: This area is login protected
    </div>
    <div>
        <a href="https://sso.roshka.com/realms/roshka/protocol/openid-connect/logout">Logout</a>
    </div>
</main>

<footer>
    <!-- Your footer content goes here -->
</footer>

<script src="/static/js/script.js"></script>
</body>

</html>
